/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
/* Colors */
.custom-background,.custom-background:hover{color:#000!important;background-color:#1A1A1A!important}
.custom-card-background,.custom-card-background:hover{color:#000!important;background-color:#262626!important}
.custom-accent-color,.custom-accent-color:hover{color: #000,!important;background-color: #60C689;}
.custom-text-accent,.custom-text-accent:hover{color:#6d7a49!important}
.custom-text-body,.custom-text-body:hover{color:#fef7e4!important}
.custom-accent-darkened, .custom-accent-darkened:hover{color:#295135!important}
.custom-text-darkened, .custom-text-darkened:hover{color: #262626}

.text-italic{
	font-style: italic;
	color: #535351;
}

.in-line-icon {
	line-height: 1.25;
	margin-right: 10px;
	float:left;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.left-text{
  position: inherit;
  left: 10px;
  width: 66.666667%;
  margin: 10px;
  height: 95%;
  text-align: left;
  padding-right:125px
}

h1.extra-large {
	font-size: 75px;
}


span.centered {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

input.contact, textarea.contact{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #404040;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #404040;
	color: #d9d9d9;
  }


.parallax {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.extra-large {
	font-size: 2.5em;
	font-family: 'Abril Fatface', serif;
}

.subtitle {
	font-size: 1.5em;
	font-family: 'Lato', serif;
	margin-top: 10px;
	letter-spacing: 0.1em;
	color: #4c5533;
}

.down-arrow {
	font-size: 5em;
	margin-top: 100px;
	color: #bdae82;
}

body {
	background-color: #1e1e1e;
	color: #fff;
}

.home-page {
	background-image: url('/assets/home_photo.jpg');
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.blurred-backdrop{
	-webkit-backdrop-filter: blur(5px);
  	backdrop-filter: blur(5px);
	width: 100%;
	gap: 0px;
	margin: 0px auto;
	padding: 0px;
}

.blurred-text{
	border-radius: 25px;
	padding: 10px;
	min-height: 150px;
	background: rgb(27, 38, 44, 0.25);
	-webkit-backdrop-filter: blur(50px);
  	backdrop-filter: blur(50px);
	color: #d1d6cc;
}

.main-container {
	display: flex;
	background: transparent;
    flex-direction: column;
	width: 100%;
    gap: 0px;
    margin: 0px auto;
	padding: 0px;
	text-align: center;
	color: #d1d6cc;
}

.card-container {
	display: flex;
	background: transparent;
    flex-direction: column;
	width: 100%;
    gap: 0px;
    margin: 0px auto;
	padding: 50px;
	text-align: center;
	color: #d1d6cc;
}

.overview-container{
	display: flex;
	background: transparent;
    flex-direction: row;
	width: 100%;
    gap: 0px;
    margin: 0px auto;
	padding: 50px;
	text-align: center;
	color: #d1d6cc;
}

.experience-card{
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 75%;
	position: relative;
	align-self: center;
	font-size: 1.1em;
	line-height: 1.5;
	text-align: left;
	background-color: #252a29;
}

.overview-card{
	padding: 100px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	min-height: 400px;
	width: 33.3333%;
	float: left;
	font-size: 1.1em;
	line-height: 1.5;
	perspective: 1000px;
	color: #1b262c;
	background-repeat: no-repeat;
	background-size:cover;
}

.card {
	padding: 100px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 90%;
	align-self: center;
    max-width: 1750px;
	font-size: 1.1em;
	line-height: 1.5;
	background-color: rgb(26, 31, 30, 0.7);
	-webkit-backdrop-filter: blur(50px);
  	backdrop-filter: blur(50px);
}

.card-title{
	margin-bottom: 10px;
	font-size: 2.5em;
	font-family: 'Abril Fatface', serif;
	color: #4c5533;
}

.section-title{
	margin-bottom: 5px;
	font-size: 2.0em;
	font-family: 'Abril Fatface', serif;
	color: #bfc8a4;
}

.action-form {
	padding: 40px;
	border-radius: 8px;
	text-align: left;
}
.action-form h2 {
	margin-bottom: 20px;
	text-align: center;
}

::placeholder {
	font-style: italic;
	color: #61615f;
}

.action-form textarea{
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 4px;
	background-color: #3c423b;
	color: #d1d6cc;
	box-sizing: border-box;
	text-decoration: none;
	display: inline-block;
	height: 150px !important;
}

.action-form input[type="email"],
.action-form input[type="text"],
.action-form input[type="password"],
.action-form input[type="submit"],
.action-form A {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 4px;
	background-color: #3c423b;
	color: #d1d6cc;
	box-sizing: border-box;
	text-decoration: none;
	display: inline-block;
}
.action-form input[type="submit"] {
	background-color: #4c5533;
	cursor: pointer;
}
.action-form input[type="submit"]:hover {
	background-color: lighten(#4c5533, 10%);
}

input:valid {
	background-color: palegreen;
}
  
input:invalid {
	background-color: lightpink;
}


@media (max-width: 600px) {
	.content {
		width: 95%;
	}
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #4c5533;
	text-decoration: none;
	border-radius: 4px;
	color: #d1d6cc;
}
.btn:hover {
	background-color: lighten(#4c5533, 10%);
}

ul.modern-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-left: 3px solid #8a9a5b;
}

ul.modern-list li {
    padding: 10px 15px;
    position: relative;
    font-size: 16px;
    color: #d1d6cc;
}

ul.modern-list li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

ul.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.icon-list li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 0;
}

ul.icon-list li::before {
    content: '▹';
    font-size: 18px;
    color: #8a9a5b;
}

// Adapted from: https://stackoverflow.com/questions/41078478/css-animated-checkmark
.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #7ac142;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	margin: 10% auto;
	box-shadow: inset 0px 0px 0px #7ac142;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
	100% {
	  stroke-dashoffset: 0;
	}
  }
  @keyframes scale {
	0%, 100% {
	  transform: none;
	}
	50% {
	  transform: scale3d(1.1, 1.1, 1);
	}
  }
  @keyframes fill {
	100% {
	  box-shadow: inset 0px 0px 0px 30px #7ac142;
	}
  }
//
